{% for item in items %}
    <a href="/pages/flat-card.html" target="_blank" class="similar-flat-card{% if animationClass %} j-animation__row-item{% endif %}">
        <div class="similar-flat-card__container">

            <div class="similar-flat-card__plan">
                <picture{% if lazy %} style="background-image: url('/images/picture/background.jpg')"{% endif %}>
                    <source media="(min-width: 320px)"
                            {% if lazy %}loading="lazy" data-{% endif %}srcset="{{ item.src }}"
                            data-origin="{{ flat.src }}"
                            type="image/jpeg">
                    <img {% if lazy %}loading="lazy" data-{% endif %}src="{{ item.src }}"
                         srcset="{{ item.src }}"
                         data-origin="{{ item.src }}"
                         alt="План квартиры №{{ item.id }}">
                </picture>

                <div class="flat__controls">
                    <button class="flat__fullscreen-button j-popup"
                            data-gallery="true"
                            data-slider="{{ item.id }}"
                            data-src="{{ item.src }}"
                            data-alt="План квартиры №{{ item.id }}"
                            data-caption="План квартиры №{{ item.id }}"
                            aria-label="Open in fullscreen">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M1 4C1.55228 4 2 4.44772 2 5V10H7C7.55228 10 8 10.4477 8 11C8 11.5523 7.55228 12 7 12H0V5C0 4.44772 0.447715 4 1 4Z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M4 1C4 0.447715 4.44772 0 5 0H12V7C12 7.55228 11.5523 8 11 8C10.4477 8 10 7.55228 10 7V2H5C4.44772 2 4 1.55228 4 1Z"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="similar-flat-card__details">

                <div class="similar-flat-card__title">
                    <ul class="similar-flat-card__list">
                        <li class="similar-flat-card__list-item">
                            {{ item.title }}
                        </li>
                        <li class="similar-flat-card__list-item">
                            {{ item.area }}
                        </li>
                    </ul>
                </div>

                <div class="similar-flat-card__information">
                    <ul class="similar-flat-card__list">
                        <li class="similar-flat-card__list-item"> Корпус {{ item.block }}</li>
                        <li class="similar-flat-card__list-item"> Секция {{ item.section }}</li>
                        <li class="similar-flat-card__list-item">
                            <span>Этаж {{ item.floor.value }}</span>
                            <span>из {{ item.floor.total }}</span>
                        </li>
                    </ul>

                    <div class="similar-flat-card__prices">
                        <div class="similar-flat-card__price {% if item.actionPrice %}action-price{% endif %}">
                            {{ item.price }}
                        </div>
                        {% if item.actionPrice %}
                            {% include '../action-price/action-price.twig' with {
                                actionValue: item.actionPrice.value,
                                basicPrice: item.actionPrice.base
                            } %}
{#                            <div class="similar-flat-card__action-wrapper">#}
{#                                <div class="similar-flat-card__action">#}
{#                                    <span class="similar-flat-card__action-value">#}
{#                                        -{{ item.actionPrice.value}} ₽#}
{#                                    </span>#}
{#                                </div>#}
{#                                <div class="similar-flat-card__basic-price">#}
{#                                    {{ item.actionPrice.base }} ₽#}
{#                                </div>#}
{#                            </div>#}
                        {% endif %}
                    </div>
                </div>

                <div class="similar-flat-card__labels">
                    <ul class="flat__specials-list">
                        {% for text in item.specials %}
                            <li class="flat__specials-detail">
                                {{ text }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </a>
{% endfor %}
